body {
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  /* -webkit-font-smoothing: antialiased; */
  /* -moz-osx-font-smoothing: grayscale; */
  background: rgb(13, 17, 23);
  text-align: center;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.profile {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}