body {
  /* font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
  /* -webkit-font-smoothing: antialiased; */
  /* -moz-osx-font-smoothing: grayscale; */
  /* background: rgb(12, 24, 44); */
  /* text-align: center; */
  /* color: white; */
  margin-top: 32px;
}

.container {
  max-width: 960px;        /* Maximum width */
  margin: 0 auto;         /* Centers it horizontally */
  padding: 0 16px;         /* Some breathing room on small screens */
}

/* :root {
  --link-color: white;
}

a {
  color: var(--link-color);
}
a:hover {
  color: var(--link-color);
}
a:visited {
  color: var(--link-color);
} */

.profileImage {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
